.projects {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    background: #00101a;
    background: var(--bg-projects);
    transition: background 500ms;
    padding: 1rem 0;
}

.projects__header {
    font-weight: 100;
    margin: 4rem 0 15vh;
}

.projects__tabs-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 1.5rem;
    width: auto;
    /* margin-top: 1rem; */
}

.projects__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    width: 740px;
    height: 50px;
    background: black;
    background: var(--bg-project-tabs);
    transition: background 500ms;
    position: relative;
}

.projects__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 33%;
    height: 100%;
    background: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.projects__selection {
    position: absolute;
    left: 0;
    width: 34%;
    height: 50px;
    background: #6b56ff;
    background: var(--fc-projects-tabselection);
    transition: background 500ms;
    transition: 200ms;
}


@media (max-width: 768px) {
    .projects__header {
        margin: 1rem 0 1.5rem;
        color: #90caff;
        color: var(--fc-projects-header);
        transition: color 500ms;
        letter-spacing: 5px;
        border-bottom: 0;
        border-top: 0;
        font-weight: 100;
        font-size: 1.5rem;
        text-align: left;
        width: 100%;
    }

    .projects__tabs-container {
        width: 100%; 
        margin-bottom: 1rem;
    }

    .projects__tabs {
        max-width: 90%;
        height: 40px;
    }

    .projects__selection {
        height: 40px;
    }
    
}