.skillchart {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-width: 325px;
}


.skillchart__line {
    left: 148px; /* 269px; */
    position: absolute;
    width: 0;
    border-top: none;
    border-left: 2.5px solid white;
    opacity: .6;
    height: 100%;
    background: transparent;
    margin: 0;
}

@media (max-width: 768px){
    .skillchart {
        margin: 0 0 0 1.5rem;
    }

    .skillchart__line {
        left: 98px;
    }
}
