#baltimore-svg {
    padding-right: 2rem;
    max-width: 100%;
}

.baltimore-svg path {
    stroke: var(--fc-primary);
}

.baltimore-path {
    stroke: var(--fc-primary);
    
}

.baltimore-path:hover {
    stroke-width: 2px;
}

.baltimore-label-container {
    fill: var(--baltimore-svg-label-bg);
}

.baltimore-label {
    fill: var(--baltimore-svg-label-fc);
}

@media (max-width: 1024px){
    #baltimore-svg {
        margin-bottom: 1rem;
        padding-right: 0;
        width: 80%;
    }
}