.skills {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    background: #1b0e24;
}

.skills__left {
     width: 40%; 
}

.skills__right {
    width: 35%;
    text-align: left;
    font-size: .9rem;
    line-height: 1.5;
    opacity: .9;
}