.project-item {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    height: 75px;
    margin-bottom: 1rem;
    border: 1px solid white;
}

.project-item__icon {
    width: 20%;
}

.project-item__content {
    width: 70%;
}

.project-item__title {
    margin: 0;
    opacity: 1;
}

.project-item__description {
    margin: 0;
    font-size: .7rem;
    opacity: .7;
}

.project-item__links {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}