.project-item {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    height: 75px;
    margin-bottom: 1rem;
    border: 1px solid white;
    border: 1px solid var(--fc-primary);
}

.project-item__icon {
    width: 3%;
}

.project-item__content {
    width: 95%;
}

.project-item__title {
    margin: 0;
    opacity: 1;
}

.project-item__description {
    margin: 0;
    font-size: .7rem;
    opacity: .7;
}

.project-item__links {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-item__link-icon {
    width: 18px;
    height: 18px;
    color: white;
    color: var(--fc-primary);
}

@media (max-width: 768px){
    .project-item {
        width: 100%;
        height: 75px;
        margin-bottom: 1rem;
    }
    
    .project-item__description {
        margin: 0;
        font-size: .7rem;
        opacity: .7;
    }

    .project-item__link-icon {
        width: 14px;
        height: 14px;
    }
}