.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    min-height: 91.5vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    color: white;
    color: var(--fc-primary);
}

.home__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 1200px;
}

.home__left {
    width:  35%;
}

.home__right {
    width: 45%;
    text-align: left;
    font-size: .9rem;
    line-height: 1.6;
    opacity: .9;
}

.home__button {
    width: auto;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .home {
        min-width: 100%;
        align-items: flex-start;
    }

    .home__content {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }

    .home__left {
        width: 100%;
    }
    
    .home__right {
        width: 100%;
        text-align: left;
        font-size: .9rem;
        line-height: 1.5;
        opacity: .9;
    }

    .home__hide-sm {
        display: none;
    }

    .home__button {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        width: 100%;
    }
}