.header {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 1.5rem 0rem .35rem;
    margin: auto;
}

.header-mobile {
    display: none;
}

.header__h1 {
    font-family: BebasNeue;
    font-size: 1.85rem;
    font-weight: normal;
    letter-spacing: 13px;
    margin: 0;
    padding: initial;
    color: var(--fc-primary);
    border-bottom: none;
    border-top: none;
}

.header__border-bottom {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    opacity: .85;
    display: initial;
    border-bottom: 1.5px solid white;
    border-bottom: 1px solid var(--fc-primary);
    transition: border-bottom 500ms;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.nav__item {
    padding: 0;
    padding-left: 3rem;
    color: var(--fc-primary);
}

.nav__item a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .9rem;
}

.nav__item a:active {
    text-decoration: underline;
}

@media (max-width: 1024px){
    .nav {
        display: none;
    }

    .header {
        width: 90%;
        padding: .5rem 0rem .35rem;
        /* margin-top: 4rem; */
    }

    .header__h1 {
        width: 100%;
        margin: 1rem auto 1rem;
        padding: 0.5rem;
        letter-spacing: 7px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-top: 1px solid var(--fc-primary);
        border-bottom: 1px solid var(--fc-primary);
        transition: border-top 500ms;
        transition: border-bottom 500ms;
    }

    
    .header__border-bottom {
        display: none;
    }
}